<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title> ACCUEIL </title>
      <!-- Bootstrap -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!-- CSS et JS -->
      <link rel="stylesheet" href="../CSS/bootstrap.css">
      <link rel="stylesheet" href="../CSS/accueil.css">
      <link rel="stylesheet" href="../CSS/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
      <script src="../js/server.js"></script>
      <script src="../js/accueil.js"></script>
    </head>
    <body>
     <!-- <include('partials/navbar.html') %>--> 
     <nav>
      <a href="#" class="nav-icon" aria-label="visithomepage" aria-current="page"><i class="fas fa-leaf" style="color: #8D7B68;"></i> <span> FRIP</span></a>
      <div class="navlinks">
           <button class="hmg" type="button" aria-label="Toggle navigation" aria-expanded="false">
               <span></span>
               <span></span>
               <span></span>
           </button>

           <div class="navlinks-container">
               <a href="/" aria-current="page" id="SwitchtoHome">HOME</a>
               <a href="/login" aria-current="page"id="SwitchtoConnexion">PROFIL</a>
               
               <div class="dropdown">
                   <a href="#" class="dropbtn" aria-current="page">HOMME ▼</a>
                   <div class="dropdown-content">
                     <a href="#">Hauts</a>
                     <a href="#">Bas</a>
                     <a href="#">Combinaisons</a>
                   </div>
                 </div>

                 <div class="dropdown">
                   <a href="#" class="dropbtn" aria-current="page">FEMMES ▼</a>
                   <div class="dropdown-content">
                       <a href="#">Hauts</a>
                       <a href="#">Bas</a>
                       <a href="#">Combinaisons</a>
                   </div>
                 </div>
           </div>
      </div>

      <div class="nav-indentification">
           <a href="/login" class="user-profile"aria-label="sign in page"><i class="fas fa-user fa-2x" id="user-icon" ></i></a>

           <div class="dropdown-panier">
             <a id="panier" class="user-articles" href="/panier"><i class="bi bi-basket3 fa-2x"></i></a>
             <div class="dropdown-content">
                 <a href="#">artice1</a>
                 <a href="#">aticle 2</a>
                 <a href="#">article 3</a>
                 <p>Total : {50$}</p>
             </div>
           </div>
           
           <div class="regist-btn">
               <button type="button" onclick="window.location.href='/login';" >Connexion</button> 
               <button type="button" >Inscription</button>
           </div>
      </div>
   </nav>

      <!--affichage des articles-->
      <section id="accueil">
        <table id="tableau-vetements" class="table table-image">
          <thead class="thead-light">
            <tr class="text-center">
              <% let i;
              for (i = 0; i < contenus.length; i++) { 
                %>
                <td>
                  <div class="card">
                    <img src="'<%= contenus[i].image %>'" alt="'<%= contenus[i].nom %>'" style="width:100%">
                    <h1><%= contenus[i].nom%></h1>
                    <p class="price"><%= contenus[i].prix %></p>
                    <p><%= contenus[i].description %></p>
                    <select id="taille-select">
                      <% for (let j = 0; j < tailles.length; j++) { %>
                        <% if (tailles[j].quantite > 0 && tailles[j].id_vetement == contenus[i].id) { %> 
                          <option value="<%= tailles[j].taille %>"><%= tailles[j].taille %></option>
                        <% } %>
                      <% } %>
                    </select>
                    <p><button class="panier_button"><i class="bi bi-cart-plus-fill"></i></button></p>
                  </div>
                </td>
              <% } %>
            </tr>
          </thead>
        </table>
      </section>
      <img src="../img/img_image1.png" alt="img" style="width:100%">
      <!-- a retirer peut etre -->
      <section id="jsp">
        <h2>Juste pour tester la flèche</h2>
        <p>clique sur la flèche tout en bas ça fait revenir en haut</p>
      </section>
  
    <%- include('partials/footer.html') %>
    

    </body>
</html>