<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> GERANT </title>
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- CSS et JS -->
        <link rel="stylesheet" href="../public/CSS/login.css">
    </head>
    <body>
       
        <% if(!connect) { %>
            <%- include('partials/GerantLogin.ejs') %>
        <% } else { %>
            <h1>Bienvenue <%= nom %></h1>
            <p><button>switch</button></p>
            <% let i;
              for (i = 0; i < contenus.length; i++) { 
                %>
                <td>
                  <div class="card">
                    <img src="'<%= contenus[i].image %>'" alt="'<%= contenus[i].nom %>'" style="width:100%">
                    <h1><%= contenus[i].nom%></h1>
                    <p class="price"><%= contenus[i].prix %></p>
                    <p><%= contenus[i].description %></p>
                    <select id="taille-select">
                      <option value="XS">XS</option>
                      <option value="S">S</option>
                      <option value="M">M</option>
                      <option value="L">L</option>
                      <option value="XL">XL</option>
                      <option value="XXL">XXL</option>
                    </select>
                    <p>
                      <input type="text" name="quantite" placeholder="quantité">
                      <button class="add_taille"><i class="bi bi-plus-square"></i></button>
                    </p>
                  </div>
                </td>
              <% } %>
        <% } %>
        
    </body>
</html>