<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> GERANT </title>
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- CSS et JS -->
        <link rel="stylesheet" href="../public/CSS/login.css">
        <script src="../js/server.js"></script>
        <script src="../js/script.js"></script>
    </head>
    <body>
      <%- include('partials/navbar.html') %>
    
      <% if (stocks) { %>
        <form action="/gerant/commandes" method="GET">
          <p>
            <button id="switch" value="commandes"> Commandes </button>
          </p>
        </form>
        <% for (let i = 0; i < contenus.length; i++) { %>
          <td>
            <div class="card">
              <img src="<%= contenus[i].image %>" alt="<%= contenus[i].nom %>" style="width:100%">
              <h1><%= contenus[i].nom %></h1>
              <p class="price"><%= contenus[i].prix %></p>
              <p><%= contenus[i].description %></p>
              <form action="/gerant/AddStocks" method="POST">
                <select name="taille" id="taille-select"> <!-- essayer d'ajouter les stocks déjà présents pour chaque taille -->
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                </select>              
                <p>
                  <input type="hidden" name="idVetement" value="<%= contenus[i].id_vetement %>">
                  <input type="text" name="quantite" placeholder="quantité" required pattern="[0-9]+" title="Veuillez entrer un nombre entier" autocomplete="off">
                  <button type="submit" class="add_taille" style="background-color: cornflowerblue;">
                    <i class="bi bi-plus-square"></i>
                  </button>
                </p>
              </form>
            </div>
          </td>
        <% } %>
      <% } else { %>
        <form action="/gerant/stocks" method="GET"> <p> <button id="switch" value="stocks"> Stocks </button> </p> </form>
        <% for (let i = 0; i < commandes.length; i++) { %>
          <td>
            <div class="card">
              <p>
                <tr>
                  <td>ID :</td>
                  <td><%= commandes[i].id %></td>
                </tr>
              </p>
              <p>
                <tr>
                  <td>Client ID :</td>
                  <td><%= commandes[i].client_id %></td>
                </tr>
              </p>
              <p>
                <tr>
                  <td>Vetement ID :</td>
                  <td><%= commandes[i].vetement_id %></td>
                </tr>
              </p>
              <p>
                <tr>
                  <td>Date de la commande :</td>
                  <td><%= commandes[i].date_commande %></td>
                </tr>
              </p>
              <p>
                <form action="/gerant/supprimer-commande" method="POST">
                  <input type="hidden" name="commandeId" value="<%= commandes[i].id %>" onsubmit="return confirmDelete();" >
                  <button type="submit" style="background-color: red; color:white;">Supprimer</button>
                  <!--Essayer d'implémenter une sorte d'alerte qui demander aux gérants une confirmation-->
                  <script>
                    function confirmDelete() {
                      return window.confirm('Êtes-vous sûr de vouloir supprimer cette commande ?');
                    }
                  </script>
                </form>
              </p>
            </div>
          </td>
        <% } %>
        
      <% } %>
    
      <%- include('partials/footer.html') %>
    </body>
    
</html>