<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> PANIER </title>
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../js/panier.js"></script>
        <link rel="stylesheet" href="../CSS/stylenavbar.css">
    </head>
    <body>
      <nav>
        <a href="#" class="nav-icon" aria-label="visithomepage" aria-current="page"><i class="fas fa-leaf" style="color: #8D7B68;"></i> <span> FRIP</span></a>
        <div class="navlinks">
             <button class="hmg" type="button" aria-label="Toggle navigation" aria-expanded="false">
                 <span></span>
                 <span></span>
                 <span></span>
             </button>
 
             <div class="navlinks-container">
                 <a href="/" aria-current="page" id="SwitchtoHome">HOME</a>
                 <a href="/login" aria-current="page">PROFIL</a>
                 
                 <div class="dropdown">
                     <a href="#" class="dropbtn" aria-current="page">HOMME ▼</a>
                     <div class="dropdown-content">
                       <a href="#">Hauts</a>
                       <a href="#">Bas</a>
                       <a href="#">Combinaisons</a>
                     </div>
                   </div>
 
                   <div class="dropdown">
                     <a href="#" class="dropbtn" aria-current="page">FEMMES ▼</a>
                     <div class="dropdown-content">
                         <a href="#">Hauts</a>
                         <a href="#">Bas</a>
                         <a href="#">Combinaisons</a>
                     </div>
                   </div>
             </div>
        </div>
      </nav>
        <table class="table">
            <thead>
              <tr>
                <th>Article</th>
                <th>Prix</th>
                <th>Taille</th>
                <th>Quantité</th>
              </tr>
            </thead>
            <tbody id="cart-tablebody">
              <% if (!Array.isArray(panier.panier) || !panier.panier.length || !panier.panier) { %>
                <tr>
                  <td colspan="3">Votre panier est vide</td>
                </tr>
              <% } else { %>
                <% for (let produit of panier.panier) { %>
                  <tr>
                    <td><%= produit.nom %></td>
                    <td><%= produit.prix %></td>
                    <td><%= produit.taille %></td>
                    <td>
                        <form action="/updateQuantity" method="POST">
                            <input type="hidden" name="id" value="<%= produit.id %>">
                            <input type="hidden" name="taille" value="<%= produit.taille %>">
                            <button name="qte" value="-1" class="btn-quantity" >-</button>
                            <span class="quantity"><%= produit.qte %></span>
                            <button name="qte" value="1" class="btn-quantity">+</button>
                        </form>
                    </td>
                  </tr>
                <% } %>
            </tbody>
          </table>
          <p>Total : <span class="subtotal"><%= prixTotal %></span>€</p>
          <form action="/Commandes" method="GET">
            <button type="submit" id="confirm-command">Passer la commande</button>
          </form>  
        <% } %>                      
        
    </body>
</html>