<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- CSS et JS -->
    <link rel="stylesheet" href="../../public/CSS/bootstrap.css">
    <link rel="stylesheet" href="../../CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>
<body>
     
    <nav>
        <a href="#" class="nav-icon" aria-label="visithomepage" aria-current="page"><i class="fas fa-leaf" style="color: #8D7B68;"></i> <span> FRIP</span></a>
        <div class="navlinks">
             <button class="hmg" type="button" aria-label="Toggle navigation" aria-expanded="false">
                 <span></span>
                 <span></span>
                 <span></span>
             </button>
 
             <div class="navlinks-container">
                 <a href="/" aria-current="page" id="SwitchtoHome">HOME</a>
                 <a href="/login" aria-current="page">PROFIL</a>
                 
                 <div class="dropdown">
                     <a href="#" class="dropbtn" aria-current="page">HOMME ▼</a>
                     <div class="dropdown-content">
                       <a href="#">Hauts</a>
                       <a href="#">Bas</a>
                       <a href="#">Combinaisons</a>
                     </div>
                   </div>
 
                   <div class="dropdown">
                     <a href="#" class="dropbtn" aria-current="page">FEMMES ▼</a>
                     <div class="dropdown-content">
                         <a href="#">Hauts</a>
                         <a href="#">Bas</a>
                         <a href="#">Combinaisons</a>
                     </div>
                   </div>
             </div>
        </div>
 
 
        <div class="nav-indentification">
             <a href="/login" class="user-profile"aria-label="sign in page"><i class="fas fa-user fa-2x" id="user-icon" ></i></a>
 
             <div class="dropdown-panier">
               <a id="panier" class="user-articles" href="/panier"><i class="bi bi-basket3 fa-2x"></i></a>
               <div class="dropdown-content">
                   <a href="#">artice1</a>
                   <a href="#">aticle 2</a>
                   <a href="#">article 3</a>
                   <p>Total : {50$}</p>
               </div>
             </div>
             
             <div class="regist-btn">
                 <button type="button" onclick="window.location.href='/login';">Connexion</button> 
                 <button type="button" >Inscription</button>
             </div>
        </div>
     </nav>

     <div class="carousel-container">
        <div class="carousel-slide">
          <img src="../img/image1.png" class="img-fluid" alt="Responsive image" alt="image1">
        </div>
        <div class="carousel-slide">
          <img src="../img/image2.png" class="img-fluid" alt="Responsive image" alt="image2">
        </div>
        <div class="carousel-slide">
          <img src="../img/image3.png" class="img-fluid" alt="Responsive image" alt="image3">
        </div>

        <div class="carousel-slide">
            <video src="../img/nouvelle_co.mp4" autoplay loop muted ></video>
          </div>
        
     </div>

     <section class="">

     </section>

     <section class="articles">

        <div class="containerP">
            <div class="row">
                <% let i;
              for (i = 0; i < contenus.length; i++) { 
                %>
            <div class="col-md-3">
                 <!-- début produit-->
                 
                <div class="produit">
                    <div class="img-produit">
                        <a href="#"> 
                            <img class="imgp" src="<%= contenus[i].image %>" alt="<%= contenus[i].nom %>" style="width:100%">
                        </a>
                    </div>
                    <div class="ecrit-produit">
                        <h3 class="nom produit"><%= contenus[i].nom%></h3>
                        <p class="desc-produit"> <%= contenus[i].description %> </p>
                    </div>
                    <div class="prix-produit"><%= contenus[i].prix %> €</div>

                    <div class="icones-produit">
                        <a href="#">
                            <i class="far fa-heart"></i>
                            <span class="product-tooltip">wishlist</span>
                        </a>
                        <a href="#">
                            <i class="bi bi-eye"></i>
                            <span class="product-tooltip">voir</span>
                        </a>
                        <a href="#">
                            <i class="bi bi-cart-plus-fill"></i>
                            <span class="product-tooltip">panier</span>
                        </a>
                    </div>

                    <select id="taille-select">
                        <option value="null">--choisir une taille--</option>
                        <% for (let j = 0; j < tailles.length; j++) { %>
                          <% if (tailles[j].quantite > 0 && tailles[j].id_vetement == contenus[i].id) { %> 
                            <option value="<%= tailles[j].taille %>"><%= tailles[j].taille %></option>
                          <% } %>
                        <% } %>
                      </select>
                </div>
                
                <!-- fin produit-->
            </div>
            <% } %>
            </div>
            
        </div>
         
      </section>
    

     <footer class="text-center">
        <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
            <i class="bi bi-chevron-up"></i>
        </a><br>
        <div class="social">
            <ul>
                <li> <a href="#"> <i class="fab fa-instagram" style="color: #ac2bac;"></i></a></li> 
                <li><a href="#" class="google"><i class="fab fa-google" style="color: #dd4b39;"></i></a></li>
                <li><a href="#" class="facebook"><i class="fab fa-facebook-f" style="color: #3b5998;" ></i></a></li>
                <li><a href="#" class="twitter"><i class="fab fa-twitter" style="color: #55acee;" ></i></a></li>
            </ul>
            
            <ul class="liste">
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
            </ul>
        </div>
        <p>Website made By Emmou Coffi Marie-Tiffany & Edikeu Yann  &copy; 2023 </p>  
    </footer>    
    <script src="../script.js"></script>
</body>
</html>